/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.css */

:root {
    --blue-button-color: #3498db;
    --red-button-color: #e74c3c;
    --yellow-button-color: #FFD700;
    --green-button-color: #2ecc71;
}
.button-style {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white; /* cor do texto branco */
    border-radius: 5px; /* bordas arredondadas */
}

.blue-button{
    background-color: var(--blue-button-color);
}

.red-button{
    background-color: var(--red-button-color);
}

.yellow-button{
    background-color: var(--yellow-button-color)
}

.green-button{
    background-color: var(--green-button-color);
}